<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table Component</title>

    <link rel="stylesheet" href="../Css/table.css" />
  </head>
  <body>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Chair</th>
            <th>TheLaid Back</th>
            <th>The Worker Bee</th>
            <th>The Chair 4/2</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd-row">
            <th class="col">Width</th>
            <td class="col">80 cm</td>
            <td class="col">60 cm</td>
            <td class="col">220 cm</td>
          </tr>
          <tr class="even-row">
            <th class="col">Height</th>
            <td class="col">100 cm</td>
            <td class="col">110 cm</td>
            <td class="col">90 cm</td>
          </tr>
          <tr class="odd-row">
            <th class="col">Depth</th>
            <td class="col">70 cm</td>
            <td class="col">65 cm</td>
            <td class="col">80 cm</td>
          </tr>
          <tr class="even-row">
            <th class="col">Weight</th>
            <td class="col">16 kg</td>
            <td class="col">22 kg</td>
            <td class="col">80 kg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
